<!-- <body> -->
  <header class="container group">
    <section class="container">
      <h1 class="logo">
        <a href="/">Styles <br> Conference</a>
      </h1>    
    </section>
    <h3>August 24&ndash;26th &mdash; Chicago, IL</h3>

    <nav>
      <a href="/">Home</a>
      <a href="speakers">Speakers</a>
      <a href="schedule">Schedule</a>
      <a href="venue">Venue</a>
      <a href="register">Register</a>
    </nav>
  </header>

  This is the Registration page!

  <footer class="prmary-footer container group">
    <small>&copy; Styles <br> Conference</small>

    <nav>
      <a href="/">Home</a>
      <a href="speakers">Speakers</a>
      <a href="schedule">Schedule</a>
      <a href="venue">Venue</a>
      <a href="register">Register</a>
    </nav>
  </footer>
<!-- </body> -->
