<!-- <body> -->
  <header>
    <a href="/">Styles Conference</a>
    <h3>August 24&ndash;26th &mdash; Chicago, IL</h3>

    <nav>
      <a href="/">Home</a>
      <a href="speakers">Speakers</a>
      <a href="schedule">Schedule</a>
      <a href="venue">Venue</a>
      <a href="register">Register</a>
    </nav>
  </header>

  This is the Schedule page!

  <footer>
    <small>&copy; Styles Conference</small>

    <nav>
      <a href="/">Home</a>
      <a href="speakers">Speakers</a>
      <a href="schedule">Schedule</a>
      <a href="venue">Venue</a>
      <a href="register">Register</a>
    </nav>
  </footer>
<!-- </body> -->

