<!-- <body> -->
  <header class="container">
    <section class="container group">
      <h1 class="logo">
        <a href="/">Styles <br> Conference</a>
      </h1>    
    </section>
    <h3>August 24&ndash;26th &mdash; Chicago, IL</h3>

    <nav>
      <a href="/">Home</a>
      <a href="speakers">Speakers</a>
      <a href="schedule">Schedule</a>
      <a href="venue">Venue</a>
      <a href="register">Register</a>
    </nav>
  </header>

  This is the Schedule page!

  <footer class="primary-footer container group"> 
    <small>&copy; Styles <br> Conference</small>

    <nav>
      <a href="/">Home</a>
      <a href="speakers">Speakers</a>
      <a href="schedule">Schedule</a>
      <a href="venue">Venue</a>
      <a href="register">Register</a>
    </nav>
  </footer>
<!-- </body> -->

